// hover
.hover(@color: @input-hover-border-color){
	border-color: tint(@color, 20%);
}
.hover-error(){
	border-color: @error-color;
}
// focus
.active(@color: @input-hover-border-color){
	border-color: tint(@color, 20%);
	outline: 0;
	box-shadow: 0 0 0 2px fade(@color, 20%);
}
.active-error(){
	border-color: @error-color;
	outline: 0;
	box-shadow: 0 0 0 2px fade(@error-color, 20%);
}
// disabled
.disabled(){
	background-color: @input-disabled-bg;
	cursor: @cursor-disabled;
	opacity: 1;
	color: #ccc;
	&:hover{
		.hover(@input-border-color);
	}
}

.input-large(){
	padding: @input-padding-vertical-large @input-padding-horizontal;
	height: @input-height-large;
	font-size: @font-size-base;
}
.input-small(){
	padding: @input-padding-vertical-small @input-padding-horizontal;
	height: @input-height-small;
	border-radius: @btn-border-radius-small;
}
/**
	设置输入框样式
	1. 基本样式
	2. 动态样式  focus or hover
	3. 指定样式
*/
.input() {
	display: inline-block;
	position: relative;
	width: 100%;
	height: @input-height-base;
	line-height: @line-height-base;
	padding: @input-padding-vertical-base @input-padding-horizontal;
	font-size: @font-size-small;
	border: 1px solid @input-border-color;
	border-radius: @btn-border-radius;
	color: @input-color;
	background-color: @input-bg;
	background-image: none;
	cursor: text;
	.placeholder();
	transition: border @transition-time @ease-in-out,
				background @transition-time @ease-in-out,
				box-shadow @transition-time @ease-in-out;

	&:hover{
		.hover();
	}

	&:focus{
		.active();
	}

	&[disabled],
	fieldset[disabled] &{
		.disabled();
	}

	&-large{
		.input-large();
	}

	&-small{
		.input-small()
	}
}

/**
	复合型输入框  通过在输入框前或后增加指定的元素，使其成为一个组
	.v-input-group
**/
.input-group(@inputClass){  //@inputClass: .v-input
	display: table;
	border-collapse: separate; // 为表格设置合并模型  separate 不会忽略 border-spacing empty-cells   collapse  会忽略 border-spacing empty-cells
	position: relative;
	width: 100%;
	font-size: @font-size-small; // 12px;
	top: 1px;

	&-large{
		font-size: @font-size-base; // 14px;
	}
	// 选择类中包含 col 的元素
	&[class*="col-"]{
		float: none;
		padding-left: 0;
		padding-right: 0;
	}

	// 选择子元素中 类中包含 col- 的元素
	> [class*="col-"]{
		padding-right: 8px;
	}

	// 设置子元素的布局方式：table-cell
	&-prepend,
	&-append,
	> .@{inputClass}
	{
		display: table-cell;
	}

	// 消除输入框的圆角
	&-with-prepend .@{inputClass}{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&-with-append .@{inputClass}{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	// 设置 v-input-group-btn 样式
	&-prepend .@{css-prefix}btn,
	&-append .@{css-prefix}btn{
		border-color: transparent;
		background-color: transparent;
		color: inherit;
		margin: -(@input-padding-vertical-base + 1) (-@input-padding-horizontal);
	}

	.@{inputClass}{
		width: 100%;
		float: left;
		margin-bottom: 0;
		z-index: 2;
	}

	// 除输入框外的元素，宽度由内容撑开并且文字不换行， 余下的所有宽度给输入框
	&-prepend,
	&-append{
		width: 1px; // 此处宽设置为1px的作用：元素的宽度由内容撑开, 其它的宽度分给input输入框
		white-space: nowrap;
		vertical-align: middle;
	}

	// 设置复合框中除input外的样式
	&-prepend,
	&-append{
		padding: @input-padding-vertical-base @input-padding-horizontal;
		font-size: inherit;
		font-weight: normal;
		line-height: 1;
		color: @input-color;
		text-align: center;
		background-color: #eee;
		border: 1px solid @input-border-color;
		border-radius: @border-radius-base;
	}

	&-prepend{
		border-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&-append{
		border-left: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&-large .@{inputClass},
	&-large > &-prepend,
	&-large > &-append{
		.input-large();
	}

	&-small .@{inputClass},
	&-small > &-prepend,
	&-small > &-append{
		.input-small();
	}
}